// 392px, 678px, 992px, 1152px, 1300px, 1520px, 2300px
$breakpoints: (
  xsm: 24.5em,
  sm: 42.375em,
  md: 62em,
  lg: 72em,
  mlg: 81.25em,
  xl: 95em,
  xxl: 143.75em,
);

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin breakpoint-max($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin container {
  .container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    padding: 0 1rem;
    gap: 1.5rem;
    position: relative;
    top: 2.5rem;

    @include breakpoint-max('md') {
      top: 12.5rem;
    }

    @include breakpoint('lg') {
      max-width: calc(100vw - 27rem);
      width: 65rem;
    }
  }
}
