// Color Variables
$primary-color: #007bff;
$primary-color-hover: #0056b3;
$secondary-color: rgba(204, 204, 204, 0.5);
$background-color: #171717;
$border-color: #ccc;
$text-color: #dadada;
$success-color: #22b344;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;

// Font Variables
$font-family: 'Roboto', sans-serif;
$paragraph: 0.8rem;
$heading-1: 1.2rem;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
