@use '../../styles/mixins' as m;

.container {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding: 0 1rem;
  gap: 1.5rem;
  position: relative;
  top: 2.5rem;

  @include m.breakpoint-max('md') {
    top: 6rem;
  }

  @include m.breakpoint('lg') {
    max-width: calc(100vw - 27rem);
    width: 65rem;
  }
}
