@import '../../styles/variables.scss';

.searchBarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 60%;
  justify-content: right;
}

.input {
  flex: 1;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;

  &:focus {
    outline: none;
    border-color: $primary-color;
  }
  &::placeholder {
    color: #b7b7b7;
  }
  &:focus::placeholder {
    color: transparent;
  }
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: $primary-color;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}
