@import '../../styles/variables.scss';

.noResults {
  text-align: center;
  color: $danger-color;
  font-size: 1.3rem;
  width: 100%;
  position: absolute;
  top: 6.5rem;

  & .backBtn {
    color: $text-color;
    background-color: $primary-color;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 3rem;
    transition: background-color 0.2s;
    position: relative;
    top: 1rem;
  }

  & .backBtn:hover {
    background-color: $primary-color-hover;
  }
}
