@use '../../styles/mixins.scss' as m;
@import '../../styles/variables.scss';

.postComments {
  list-style-type: none;
  margin: 5rem 0;
  padding: 0;
  padding-left: 3.2rem;

  @include m.breakpoint-max('md') {
    padding-left: 1rem;
  }
}

.postComment {
  border-top: 1px solid rgba(204, 204, 204, 0.5);
  padding: 1rem 0;
  transition: box-shadow 0.2s;
  margin-top: 1rem;

  & .postAuthor {
    font-weight: 600;
    color: $primary-color;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0 1rem 1rem 1rem;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-color: $dark-color;

    @include m.breakpoint-max('sm') {
      flex-wrap: wrap;
      padding: 0 0.5rem 1rem 0.5rem;
    }

    & span {
      font-weight: 400;
      color: $secondary-color;
      margin-left: 1rem;

      @include m.breakpoint-max('sm') {
        margin-left: 0;
      }
    }
  }

  & .commentBody {
    padding: 0 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;

    @include m.breakpoint-max('sm') {
      padding: 0;
    }
  }
}

.loading {
  text-align: left;
  margin: 1rem 0;
  color: $secondary-color;
}
