@use '../../styles/mixins.scss' as m;
@import '../../styles/variables.scss';

.upvoteArrow {
  fill: $secondary-color;

  &:hover {
    fill: $success-color;
  }

  @include m.breakpoint-max('sm') {
    &:hover {
      fill: $secondary-color;
    }
  }
}

.upvoted {
  fill: $success-color;
}
